/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
/* 
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.options {
  position: relative;
  padding-left: 40px;
}

#options label {
  display: block;
  margin-bottom: 15px;
  font-size: 14px;
  cursor: pointer;
}

.options input {
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #999;
  border: 1px solid #ddd;
  border-radius: 50%;
  text-align: center;
  z-index: 0; /* Ensure the circle is above the label text */
}

.options input:checked ~ .checkmark:after {
  display: block;
}

/* .options .checkmark:after { */
  /* content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s;
  z-index: -1; Ensure the white circle is above the label text */
/* } */

.options input[type="radio"]:checked ~ .checkmark {
  background: #21bf73;
  /* border: 2px solid blue; */
  transition: 300ms ease-in-out 0s;
}

.options input[type="radio"]:checked ~ .checkmark:after {
  transform: translate(-50%, -50%) scale(1);
}
